html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #FAFAFA;
  background-color: #0A0A0A;
  color: #DCDCDC;
}
header {
  padding: 16px 64px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  font-weight: lighter;
}
#sections-container {
  padding: 8px;
}
.section {
  background-color: #F4F4F4;
  background-color: #121212;
  margin: 16px;
  border: 1px solid #E1E1E1;
  border: 1px solid #1F1F1F;
  border-radius: 4px 4px 0 0;
}
.section .section-header {
  background-color: #DEDEDE;
  background-color: #1A1A1A;
  padding: 24px;
  font-size: 1.2em;
  border-radius: 3px 3px 0 0;
}
.section .section-header .assets-count {
  margin-left: 0.5em;
  font-size: 0.9em;
  color: #AAAAAA;
  color: #767676;
}
.section .section-content {
  padding: 16px 32px;
}
.section .section-content .box {
  display: inline-block;
  margin: 8px;
  background-color: #DEDEDE;
  background-color: #1A1A1A;
}
.section .section-content .box .preview {
  width: 240px;
  height: 135px;
}
.section .section-content .box .preview .preview-item {
  width: 100%;
  height: 100%;
}
.section .section-content .box .name {
  display: inline-block;
  padding: 16px 16px;
  font-size: 0.8em;
}
.section .section-content .box .seconday {
  float: right;
  color: #888888;
  padding: 16px 16px;
  font-size: 0.8em;
}
